label {
  display: block;
}

label input, label textarea {
  display: block;
  width: 40%;
  margin-bottom: 20px;
  padding: 1em;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

label .error {
  margin-top: -20px;
  background: yellow;
  padding: .5em;
  display: inline-block;
  font-size: .9em;
  margin-bottom: 20px;
}

.cta {
  background: #7700FF;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: 'Montserrat', serif;
}

.results {
  margin-top: 50px;
}

.results strong {
  display: block;
}

.results span {
  margin-bottom: 20px;
  display: block;
}
